#dkb-result {
  background: #EDD9CC;
  border: 5px solid #B8A597;
  font-size: 20px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#major-result {
  background: #EDD9CC;
  border: 5px solid #B8A597;
  font-size: 20px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#drink-result {
  background: #EDD9CC;
  border: 5px solid #B8A597;
  font-size: 20px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#animal-result {
  background: #EDD9CC;
  border: 5px solid #B8A597;
  font-size: 20px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#ult-result {
  background: #EDD9CC;
  border: 5px solid #B8A597;
  font-size: 20px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#redred-result {
  background: #EDD9CC;
  border: 5px solid #B8A597;
  font-size: 20px;
  min-height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 2px;
  background-color: #B8A597;
}

body {
  background-color:#806350;
  color: white;
}

p {
  color: black
}